*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

/*Barra de navegacion*/

header{
    width: 100%;
    
    position: fixed ;
    background: rgba(24, 24, 24, 0.5);
    padding: 10px 100px;
    z-index: 2;

}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoytexto{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 90px;
    border-radius: 20px;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif ;
    
}
.links{

    font-size: 20px;
}
.texthead{
    color: #fff;
}
.btnhead{
    font-size: 20px;
    height: 70px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    border:solid #DD7F24;
    background-color: #DD7F24;
}
.btnhead:hover{
    background-color: transparent;
    border: 2px solid #DD7F24;
    color: #DD7F24;
}

/*HERO*/
.hero{
    background-image: url(../img/bghero.png);
    padding: 470px 100px;
    position: relative;
    background-size: cover;

}
.heropos{
    line-height: 80px;
    position: absolute;
    left: 130px;
    top: 320px;

}
.blanco{
    color: #fff;
}

b{
    color: #DD7F24;
}
.tituloh3{ 
    font-size: 30px;

    font-family: Arial, Helvetica, sans-serif;
}

.titulohero{
    
    font-size: 90px;
    font-family:sans-serif;
}

.parrafo{
   
    font-family: Arial, Helvetica, sans-serif;
}

.bhero{
    font-size: 20px;
    left: 130px;
    top: 570px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    border:solid #DD7F24;
    background-color: #DD7F24;
}
.bhero:hover{
    background-color: transparent;
    border: 2px solid #DD7F24;
    color: #DD7F24;
}

.wave{

    position: absolute;
    left: 0px;
    bottom: -15px;
    width: 100%;

}

/**ABOUT**/
.about{
    position: relative;
   
    background-image: url(../img/bgabout.png);
    padding: 500px 100px;
    background-size: cover;
    
}

.aboutpos{
    position: absolute;
    top: 150px;
    left: 1050px;
    padding-right: 100px;
    width: 600px;
    
    
}

.tituloabout{
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}

.subtituloabout{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 30px;
}

.parrafoabout{
    font-size: 20px;
    color: #fff;
   
}

.btns{
    padding-top: 100px;
}
.boton{
    font-size: 20px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    color: #fff;
    border:solid #DD7F24;
    background-color: #DD7F24;
}
.boton:hover{
    background-color: transparent;
    border: 2px solid #DD7F24;
    color: #DD7F24;
}

/**SERVICIOS**/

.servicios{
    
    color: white    ;
    background-image: url(../img/bgskills.png);
    background-repeat: no-repeat;
    position: relative;
    padding: 100px;

}


.tituloservicios{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 90px;
    
}
.card{
    height: 500px;
    width: 450px;
    border-radius: 25px;
    background-color: #161616;
    padding: 50px 30px;
    
}

.card1{
    position: relative;

    height: 450px;    
}

.iconocard{
    width: 150px;
}

.titulocard{
    padding-top: 30px;
    font-size: 40px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.pcard{
    
    font-size: 20px ;
    
}

.gris{
    color: gray;
    
}

.btncard{
    position: absolute;
    bottom: 20px;
    color: #fff;
    height: 40px;
    width:100%;
    
    
}
/*Proyetos*/

.proyectos{
    background-image: url(../img/bgskills2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 470px 100px;
    position: relative;
    
}

.proypos{
    position: absolute;
    top: 150px;
    left: 250px;
    width: 600px;
}



/*Contacto*/

.contacto{
    background-image: url(../img/bgcontacto.png);
    position: relative;
    padding: 500px 100px;
    background-repeat: no-repeat;
    
}

.serviciospos{
    position: absolute;
    top: 200px;
    left: 1050px;
    padding-right: 100px;
    width: 600px;
   
}


@media(max-width:1440px){
    header{
        width: 1440px;
      
    }
    .aboutpos{

        position: absolute;
        top: 150px;
        left: 900px;
        padding-right: 100px;
        width: 600px;
        
        
    }
    .card{
        height: 500px;
        width: 350px;
        border-radius: 25px;
        background-color: #161616;
        padding: 50px 30px;
        
    }
    .iconocard{
        width: 100px;
    }

    .proypos{
   
        position: absolute;
        top: 150px;
        left: 150px;
        width: 600px;
    

    }
    .serviciospos{
        top: 150px;
        left: 900px;
        padding-right: 100px;
        width: 600px;
        
    }
}

@media(max-width:1280px){
    header{
        width: 1280px;
    }
    
    .about{
        background-image: url(../img/bgaboutresponsive.png);
    }
    .aboutpos{
        left: 300px;
        padding-right: 100px;
        width: 900px;
    }
    .proypos{
        left: 300px;
        padding-right: 100px;
        width: 900px;
    }
    .contacto{
        background-image: url(../img/bgcontactoresponsive.png);
    }
    .serviciospos{
        left: 300px;
        padding-right: 100px;
        width: 900px;

    }
}

@media(max-width:1024px){
    header{
        width: 1024px;
    }
    .logo{
        width: 70px;
    }
    .texthead{
        font-size: 15px;
    }
    .btnhead{
        font-size: 15px;
        height: 60px;
        width: 150px;
    }
    .menu{
        text-indent: 25px;
    }
    .hero{
        background-image: url(../img/bgheroresponsive.png);
    }
    .heropos{
        left: 70px;
    }
    .aboutpos{
        left: 150px;
        padding-right: 100px;
        width: 900px;
    }
    .card{
        height: 500px;
        width: 250px;
        border-radius: 25px;
        background-color: #161616;
        padding: 50px 30px;
        
    }
    .card1{
        height: 350px; 
    }

    .iconocard{
        width: 100px;
    }
    .proypos{
        
        width: 600px;
    }
    .serviciospos{
        width: 600px;
    }
}