*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

/*Barra de navegacion*/

header{
    width: 100%;
    
    position: fixed ;
    background: rgba(24, 24, 24, 0.5);
    padding: 10px 100px;
    z-index: 2;

}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoytexto{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 90px;
    border-radius: 20px;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    
}
.links{

    font-size: 20px;
}
.texthead{
    color: #fff;
}
.btnhead{
    font-size: 20px;
    height: 70px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    border:solid #DD7F24;
    background-color: #DD7F24;
}
.btnhead:hover{
    background-color: transparent;
    border: 2px solid #DD7F24;
    color: #DD7F24;
}

/*HERO*/
.hero{
    background-image: url(../img/bghero.png);
    padding: 470px 100px;
    position: relative;
    background-size: cover;
    
}
.blanco{
    color: #fff;
    position: absolute;
}

b{
    color: #DD7F24;
}
.tituloh3{
  
    left: 130px;
    top: 320px;
    font-size: 30px;

    font-family: Arial, Helvetica, sans-serif;
}

.titulohero{
 
    left: 130px;
    top: 390px;
    font-size: 90px;
    font-family:sans-serif;
}

.parrafo{
   
    left: 130px;
    top: 515px;
    font-family: Arial, Helvetica, sans-serif;
}

.bhero{
    font-size: 20px;
    left: 130px;
    top: 570px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    border:solid #DD7F24;
    background-color: #DD7F24;
}
.bhero:hover{
    background-color: transparent;
    border: 2px solid #DD7F24;
    color: #DD7F24;
}

.wave{

    position: absolute;
    left: 0px;
    bottom: -15px;
    width: 100%;

}

/**ABOUT**/
.about{
    position: relative;
   
    background-image: url(../img/bgabout.png);
    padding: 500px 100px;
    
}

.aboutpos{
    position: absolute;
    top: 150px;
    left: 1050px;
    width: auto;
    
    
}

.tituloabout{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.subtituloabout{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 30px;
}

.parrafoabout{
    font-size: 20px;
    color: #fff;
   
}

.btns{
    padding-top: 100px;
}
.boton{
    font-size: 20px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    color: #fff;
    border:solid #DD7F24;
    background-color: #DD7F24;
}
.boton:hover{
    background-color: transparent;
    border: 2px solid #DD7F24;
    color: #DD7F24;
}
